@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
.landing-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image:linear-gradient(to top right, #33ccff 0%, #ff66cc 94%);
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header ul a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 2px 15px;
    border-radius: 20px;
}

header ul a :not(:last-child){
    margin-right: 30px;
}
header ul a :hover{
    background: #fff;
}

.content{
    max-width:650px;
    margin: 60px 100px;
}

.content h4{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

h1{
    color: red;
}