@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
.landing-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image:linear-gradient(to top right, #33ccff 0%, #ff66cc 94%);
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header ul a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 2px 15px;
    border-radius: 20px;
}

header ul a :not(:last-child){
    margin-right: 30px;
}
header ul a :hover{
    background: #ff66cc;
}

.content{
    max-width:650px;
    margin: 60px 100px;
}

.content h4{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content h4 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

a .hero-btn{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background-color;
}
a .hero-btn:hover{
    background: #0C4F60;
}

/*Hero_Form*/
.hero1text{
    font-size: 2.25rem;
    font-weight: 700;
}
.hero2text{
    font-size: 1.5rem;
    font-weight: 700;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

.landing-left{
    height: 200px;
}
.landing-left, .landing-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-left{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.5)), url("images/landing-page.jpg");
    background-size: cover;
}
.landing-left .copy{
    color: ghostwhite;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.landing-right .copy{
    color: black;
    text-align: center;
}

.landing-right form{
    width: 328px;
}
form input[name="name"],
form input[name="age"],
form input[name="power"],
form input[name="weakness"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

