{{#partial "content"}}
    <section class = "landing-page">
        <div class = "landing-left"></div>
        <div class = "landing-right"></div>
        <form>

        </form>
    </section>
{{/partial}}