{{#partial "content"}}
    <section class="landing-page">
        <div class="landing-left"></div>
        <div class="landing-right"></div>

        <div class="hero-stats">
            <h1>{{hero.name}}</h1>
            <div class="hero-charts">
                <div class="strength">Strength  <br><span class="strength-cnt"></span></div>
                <div class="speed">Speed <br><span class="speed-cnt"></span></div>
                <div class="weakness ">Weakness <br><span class="weakness-cnt"></span></div>
            </div><br><br>
            <a href="/hero" ><button class="btns back">Go Back</button></a>
        </div>

    </section>
{{/partial}}
{{> nav.hbs}}