{{#partial "content"}}

    <section class = "landing-page">
        <div class = "landing-left"></div>
        <div class = "landing-right"></div>
        <div class = "hero-image"></div>
        <div class = content>
            <h4>You Ready To <br><span>Make Your Hero?!</span></h4>
            <a href="/hero_form"><button class = "hero-btn">Build Your Hero</button></a>
        </div>
    </section>
{{/partial}}
{{>nav.hbs}}