{{#partial "content"}}
    <section class = "landing=page">
        <div class = "landing-left"></div>
        <div class = "landing-right"></div>
        <div class = "hero-image"></div>
        <div>
            <h4>You Ready To Make Your Hero?!</h4>
            <a href=""><button class = "hero-btn btns">Build Your Hero</button></a>
        </div>
    </section>
{{/partial}}
{{>nav.hbs}}