{{#partial "content"}}
    <section class = "landing-page">
        <div class = "landing-left"></div>
        <div class = "landing-right"></div>
        <form class = "form" action = "/squad/new" method = "post">
            <h1>Create A Squad</h1>
            <input type = "text" placeholder="Enter Squad Name" name="squadName" required>
            <input type = "number" placeholder="Enter Squad Quantity" name="squadQuantity" required>
            <input type = "text" placeholder="Enter Squad Reason To Join" name="squadReason" required>


            <input class = "btns" type = "submit">
        </form>
    </section>
{{/partial}}
{{>nav.hbs}}