{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left"></div>
        <div class="land-right"></div>
        <div class = "success">
            <h3>Yay Your In!!
            <span>{{item}}</span>
            <br> Has been created
            <br>
            {{sqId}}</h3>

            <a class="btns btn-blue" href="/hero">View Heroes</a>
            <a class="btns btn-blue" href="/squad">View Squads</a>
        </div>

    </section>
{{/partial}}
{{nav.hbs}}